#container {
    display: flex;
    flex-direction: column;
    height: 7n0px;
    background-color: var(--palette_7);
    color: var(--palette_4);
}

#row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 6px;
}

#iRecommend {
    font-size: 1.6em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 6px;
}

#account {
    color: var(--palette_4);
    margin-top: 8px;
    margin-right: 16px;
    font-size: 1.1em;
}

#row2 {
    display: flex;
    justify-content: center;
    align-items: center;  /* Vertically centers the text */
    height: 100%;  /* Ensures the row takes up the full height available */
    background-color: var(--palette_7);
    color: var(--palette_4);
    padding: 0px 0px 8px 0px;
    border-bottom: 1px solid var(--palette_4);
}
