:root {
    --palette_0: #ffd887;
    --palette_1: #eb9361;
    --palette_2: #da5e4e;
    --palette_3: #ab2330;
    --palette_4: #dfffff;
    --palette_5: #b5de89;
    --palette_6: #6aab7c;
    --palette_7: #26616b;
    --palette_8: #a2dceb;
    --palette_9: #759ed0;
    --palette_a: #434ea8;
    --palette_b: #2a2140;
    --palette_c: #e1a7c5;
    --palette_d: #ab7ac6;
    --palette_e: #735bab;
    --palette_f: #3b3772;  /* Almost black */
    --body-width: 1300px;
    background-color: var(--palette_4);
}

* {
    margin: 0px;
    box-sizing: border-box;
}